
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td colspan="6">TSU</td>
        </tr>
        <tr>
          <th>CICLO </th>
          <th>ESTADO </th>
          <th>TIPO </th>
          <th>GRADO </th>
          <th>CARRERA </th>
          <th>TURNO </th>
        </tr>
        <tr>
          <td>SEP-DIC 22</td>
          <td>Activo</td>
          <td>Carga completa</td>
          <td>1ro</td>
          <td>15</td>
          <td>Matutino</td>
        </tr>
        <tr>
          <td>Fila 2</td>
          <td>Fila 2</td>
          <td>Fila 2</td>
          <td>Fila 2</td>
          <td>Fila 2</td>
          <td>Fila 2</td>
        </tr>
        <tr>
          <td>Fila 3</td>
          <td>Fila 3</td>
          <td>Fila 3</td>
          <td>Fila 3</td>
          <td>Fila 3</td>
          <td>Fila 3</td>
        </tr>
        <tr>
          <td>Fila 4</td>
          <td>Fila 4</td>
          <td>Fila 4</td>
          <td>Fila 4</td>
          <td>Fila 4</td>
          <td>Fila 4</td>
        </tr>
        <tr>
          <td>Fila 5</td>
          <td>Fila 5</td>
          <td>Fila 5</td>
          <td>Fila 5</td>
          <td>Fila 5</td>
          <td>Fila 5</td>
        </tr>
        <tr>
          <td>Fila 6</td>
          <td>Fila 6</td>
          <td>Fila 6</td>
          <td>Fila 6</td>
          <td>Fila 6</td>
          <td>Fila 6</td>
        </tr>
        <tr>
          <td>Fila 7</td>
          <td>Fila 7</td>
          <td>Fila 7</td>
          <td>Fila 7</td>
          <td>Fila 7</td>
          <td>Fila 7</td>
        </tr>
      </table>
      
</body>
</html>