<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
<div id="container">
   
    <div id="alumno">
        <h2>Alumno</h2>
    </div>
<br>
<br>
      <select id="carrera" >
        <option value="opcion1">Carrera</option>
        <option value="opcion2">Opción 2</option>
        <option value="opcion3">Opción 3</option>
        <!-- Puedes agregar más opciones según sea necesario -->
      </select>
   
      <br>
      <br>

      <select id="cuatrimestre" >
        <option value="opcion1">Cuatrimestre</option>
        <option value="opcion2">Opción 2</option>
        <option value="opcion3">Opción 3</option>
        <!-- Puedes agregar más opciones según sea necesario -->
      </select>
</div>
</body>
</html>
