<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Documdsfsdent</title>
</head>

<body>
  <header>
    <nav>

      <nav>
        <ul>

          <div class="superior1">
            <a href="/">
              <img width="50px" id="regresar"  src="assets/logo.png" alt="">
            </a>
          </div>

          <div class="superior2">

            <img width="50px"  src="assets/atras.png" alt="">

            <li class="menu">
              <a class="atas" href="#">Categorias</a>
              <div class="categoria">
                <a routerLink="/avisos">AVISOS</a>
                <a routerLink="/documentos">Documentos</a>
                <a routerLink="/horario">Horario</a>
                <a routerLink="/estado_de_cuenta">Estado de cuneta</a>
                <a routerLink="/reinscripcion">Reinscripcion</a>
                <a routerLink="/alumno">Alunmno</a>



                <a routerLink="/avisos">AVISOS</a>
                <a routerLink="/documentos">Documentos</a>
                <a routerLink="/calificaciones">Calificaciones</a>
                <a routerLink="/faltas">Faltas</a>
                <a routerLink="/fechas">Fechas</a>
                <br><br><br><br><br><br><br><br><br>

                <p>Cambiar color</p>

                <div>
                  <button class="boton-cambio-tema" onclick="cambiarTema()">Cambiar Tema</button>
                </div>
              </div>
            </li>
          </div>
        </ul>

      </nav>

    </nav>
  </header>

  <main>
    <!-- El contenido principal de la aplicación, aqui rutearemos los componentes que se vayan creando -->
    <router-outlet></router-outlet>
  </main>

  <footer>
    <!-- Tu pie de página aquí, utiliza el diseno que se adapte a tu proyecto de appweb -->
  </footer>
</body>
<script>
  function cambiarTema() {
    const body = document.body;
    body.classList.toggle('tema-blanco');
    body.classList.toggle('tema-negro');
  }
</script>

</html>