<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body > 
    <table *ngFor="let alumno of alumnos; let i = index">
    <tr>
        <td colspan="6">TSU</td>
    </tr>


      
        <tr >
          <th >Hora</th>
          <th>Lunes</th>
          <th>Martes</th>
          <th>Miercoles</th>
          <th>Jueves</th>
          <th>Viernes</th>
        </tr>
        <tr >
          <td>8:00-8:50</td>
          <td>Tutorias</td>
          <td>Estructura De Datos Aplicada</td>
          <td>Estructura De Datos Aplicada</td>
          <td>Diseño De Apps</td>
          <td>Evaluacion y Mejora Para el Desarrollo de Software</td>
        </tr>
        <!-- Repite el bloque de código de abajo para las filas restantes -->
        <tr>
          <td>9:00-9:50</td>
          <td>Ingles IV</td>
          <td>Formacion Sociocultural</td>
          <td>Ingles IV</td>
          <td>Estructura De Datos Aplicada</td>
          <td> Diseño De Apps</td>
        </tr>
        <tr>
            <td>10:00-10:50</td>
            <td> Ingles IV</td>
            <td>Formacion Sociocultural</td>
            <td>Apps Web Orientada a Servivios</td>
            <td>Evaluacion y Mejora Para el Desarrollo de Software</td>
            <td>Estructura De Datos Aplicada</td>
          </tr>

          <tr>
            <td>11:00-11:50</td>
             <td>Formacion Sociocultural</td>
            <td></td>
            <td>Apps Web Orientada a Servivios</td>
            <td>Evaluacion y Mejora Para el Desarrollo de Software</td>
            <td>Estructura De Datos Aplicada</td>
          </tr>

          <tr>
            <td>12:00-12:50</td>
            <td>Diseño de apps</td>
            <td>Principios IOT</td>
            <td>Estandares y Metricas para el Desarrollo de Software</td>
            <td>Evaluacion y Mejora para el Desarrollo de Software</td>
            <td>Apps Web Orientada a Servivios</td>
          </tr>

          <tr>
            <td>1:00-1:50</td>
            <td>Estandares y Metricas para el Desarrollo de Software</td>
            <td>Apps Web Orientada a Servivios</td>
            <td>Estandares y Metricas para el Desarrollo de Software</td>
            <td>Evaluacion y Mejora para el Desarrollo de Software</td>
            <td>Apps Web Orientada a Servivios</td>
          </tr>

          <tr>
            <td>2:00-2:50</td>
            <td>Principios IOT</td>
            <td>Apps Web Orientada a Servivios</td>
            <td>Principios IOT</td>
            <td></td>
            <td>Apps Web Orientada a Servivios</td>
          </tr>

          <tr>
            <td>3:00-3:50</td>
            <td>Principios IOT</td>
            <td>Ingles IV</td>
            <td>Diseño de apps</td>
            <td></td>
            <td></td>
          </tr>
        <!-- ... -->
       
      </table>
      

</body>
</html>