<div class="contenedorPrincipal">

    <!-- Contenedor flex con dos filas -->
    <div class="contenedorFlex">

        <!-- Primera fila -->
        <div class="miDiv">
            <img src="/assets/reading.png" alt="Imagen 1">
            <p>Contenido del primer div</p>
        </div>

        <div class="miDiv">
            <img src="/assets/check.png" alt="Imagen 2" >
            <p>Contenido del segundo div</p>
        </div>

        <div class="miDiv">
            <img src="/assets/schedule (1).png" alt="Imagen 3">
            <p>Contenido del tercer div</p>
        </div>

        <div class="miDiv">
            <img src="/assets/registration.png" alt="Imagen 4">
            <p>Contenido del cuarto div</p>
        </div>

        <!-- Segunda fila -->
        <div class="miDiv">
            <img src="/assets/notice.png" alt="Imagen 5">
            <p>Contenido del quinto div</p>
        </div>

        <div class="miDiv">
            <img src="/assets/folders.png" alt="Imagen 6">
            <p>Contenido del sexto div</p>
        </div>

        <div class="miDiv">
            <img src="/assets/tests.png" alt="Imagen 7">
            <p>Contenido del séptimo div</p>
        </div>

        <div class="miDiv">
            <img src="/assets/schedule.png" alt="Imagen 8">
            <p>Contenido del octavo div</p>
        </div>

    </div>

</div>